.plus{
    grid-column: 3;
    grid-row: 1;
    border: 3px solid red;
    border-radius: 10px;
    font-size: 20px;
    width: 70px;
}

.minus{
    grid-column: 1;
    grid-row: 1;
    border: 3px solid green;
    border-radius: 10px;
    font-size: 20px;
    width: 70px; 
}

.plus:active{
    background-color:red;
    color: white;
    box-shadow: inset 0px 0px 5px darkgrey;
}

.minus:active{
    background-color:green;
    color: white;
    box-shadow: inset 0px 0px 5px darkgrey;
}

.plus:hover ,minus:hover{
    cursor: pointer;
    color: rgb(14, 10, 207);
}

.reset{
    color: rgb(243, 8, 223);
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: 2px solid black;
}

.reset:hover{
    color: blue;
    cursor: pointer;
}

.reset:active{
    background-color:rgb(202, 16, 118);
}